.accordion {
   margin-top: 0.9rem;
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 0.9rem;
   cursor: pointer;
   padding: 0.6rem 1.2rem;
   border-radius: 0.3rem 0.3rem 0 0;
   background-color: rgb(167, 197, 207, 0.36);
}

.accordion-title {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 100%;
}

@keyframes rotate {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(90deg);
   }
}

.rotate-svg {
   animation: rotate 50ms linear forwards;
}
