.App {
   background-color: rgb(222, 236, 252, 0.6);
   position: relative;
   /* z-index: 1; */
   padding-bottom: 3rem;
   margin-top: 6rem;
   margin-bottom: 3rem;
   border-radius: 1.2rem;
   width: 63vw;
   min-height: min-content;
   backdrop-filter: blur(15px);
   box-shadow: 0 4px 20px rgba(0, 0, 0, 0.12);
}

.main-title {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.main-title > p {
   opacity: 0.3;
}

.title-container {
   padding: 0.66rem var(--general-padding);
   display: flex;
   justify-content: center;
}

.colombia-title {
   font-weight: 300;
   color: rgb(37, 64, 97, 0.3);
   font-size: 0.66rem;
}

.content-container {
   /* background-color: red; */
   /* padding: 1.2rem 2.7rem; */
   display: flex;
   flex-direction: column;
   color: #254061;
}

.capitalized {
   text-transform: capitalize;
}

.accordion-content {
   background-color: rgba(167, 197, 207, 0.15);
   padding-top: 0.6rem;
   padding-bottom: 1.5rem;
   /* border-radius: 0 0 0.6rem 0.6rem; */
   columns: 2;
   column-fill: balance;
   column-gap: 0.3rem;
   padding-left: 4.5rem;
   border-bottom: 2px solid #c0d1f3;
}

li {
   margin-left: 0.6rem;
   margin-top: 0.3rem;
}

.li--region {
   margin-bottom: 0.6rem;
   margin-top: 0;
}

h5 {
   font-style: italic;
}

.accordion-content div ul {
   padding-left: 0.69rem;
}

@media (max-width: 960px) {
   .App {
      width: 90vw;
      margin-top: 3rem;
   }

   .accordion-content {
      columns: 2;
      padding-left: 2.1rem;
   }
}

@media (max-width: 760px) {
   .App {
      width: 100vw;
      margin-top: 0;
      border-radius: 0;
      margin-bottom: 0;
   }

   .main-title p {
      font-size: 0.72rem;
      text-align: end;
   }

   .accordion-content {
      columns: 1;
      padding-left: 2.1rem;
   }
}
