.App {
   background-color: rgb(222, 236, 252, 0.6);
   position: relative;
   /* z-index: 1; */
   margin-top: 6rem;
   border-radius: 1.2rem;
   width: 63vw;
   min-height: min-content;
   backdrop-filter: blur(15px);
   box-shadow: 0 4px 20px rgba(0, 0, 0, 0.12);
}

.title-container {
   padding: 0.66rem var(--general-padding);
   display: flex;
   justify-content: center;
}

.colombia-title {
   font-weight: 500;
   color: #254061;
}

.content-container {
   /* background-color: red; */
   /* padding: 1.2rem 2.7rem; */
   display: flex;
   flex-direction: column;
}

.capitalized {
   text-transform: capitalize;
}
